MDK-ARM/SG_CHASSIS_C_2024_11_5/
MDK-ARM/build/
MDK-ARM/SG_CHASSIS_C_2024_11_5_EIDE/
MDK-ARM/*.uvoptx
MDK-ARM/*.uvguix.*
.vs/
Chassis/EIDE
.vscode/
CppProperties.json
MDK-ARM/SG_GIMBAL_C_2025_2_7/
MDK-ARM/SG_GIMBAL_C_2025_2_7_EIDE/
MDK-ARM/*.uvoptx
MDK-ARM/*.uvguix.*
MDK-ARM/build/
.vs/
.vscode/
CppProperties.json
*.
Gimbal/EIDE
