Chassis/MDK-ARM/SG_CHASSIS_C_2024_11_5/
Chassis/MDK-ARM/build/
Chassis/MDK-ARM/SG_CHASSIS_C_2024_11_5_EIDE/
Chassis/MDK-ARM/*.uvoptx
Chassis/MDK-ARM/*.uvguix.*
Chassis/.vs/
Chassis/EIDE
Chassis/.vscode/
CppProperties.json
Gimbal/MDK-ARM/SG_GIMBAL_C_2025_2_7/
Gimbal/MDK-ARM/SG_GIMBAL_C_2025_2_7_EIDE/
Gimbal/MDK-ARM/*.uvoptx
Gimbal/MDK-ARM/*.uvguix.*
Gimbal/MDK-ARM/build/
Gimbal/.vs/
Gimbal/.vscode/
CppProperties.json
*.
Gimbal/EIDE
